doctype html
html
  head
    meta(charset='UTF-8')
    title Meddy.com
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel="stylesheet" href="./global.css")
    // bower:css 
    // endbower 

    // injector:css 
    // endinjector 

  body(ng-app='app')

    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(ui-sref="home")
            img(src="assets/img/hotel.svg")
        ul.nav.navbar-nav
          li(ui-sref-active="active")
            a(ui-sref="reserve") Manage reservation

            
    //- content
    ui-view

    // bower:js 
    // endbower  
    
    // injector:js 
    // endinjector 
